/ ICONS
%svg#svg-source{:height => "0", :style => "position: absolute", :version => "1.1", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %g#shopping-cart
    %path{:d => "M16,22.001c4.963,0,9-4.936,9-11C25,4.936,20.962,0,16,0c-2.447,0-4.734,1.174-6.438,3.305 C7.909,5.37,7,8.104,7,11.001C7,17.065,11.037,22.001,16,22.001z M16,2.001c3.859,0,7,4.037,7,9c0,4.962-3.141,9-7,9 s-7-4.038-7.001-9C8.999,6.038,12.14,2.001,16,2.001z M23,20.001c-0.553,0-1,0.447-1,1c0,0.552,0.447,1,1,1 c3.859,0,7,3.14,7,6.999C30,29.551,29.551,30,29,30H3C2.449,30,2,29.551,2,29c0-3.859,3.141-6.999,7-6.999c0.553,0,1-0.448,1-1 c0-0.553-0.447-1-1-1c-4.963,0-9,4.037-9,8.999C0,30.655,1.346,32,3,32h22.5H29c1.654,0,3-1.346,3-3.001 C32,24.038,27.963,20.001,23,20.001z"}
  %g#credit-card
    %g#Expanded
      %g
        %g
          %path{:d => "M20.333,12H11V5.333h9.333V12z M12.334,10.667H19v-4h-6.666V10.667z"}
        %g
          %path{:d => "M27,32H3V0h24V32z M4.334,30.667h21.333V1.333H4.334V30.667z"}
        %g
          %rect{:height => "1.333", :width => "3.334", :x => "26.333", :y => "8.667"}
        %g
          %rect{:height => "1.333", :width => "3.334", :x => "26.333", :y => "14"}
        %g
          %rect{:height => "1.334", :width => "3.334", :x => "26.333", :y => "19.333"}
        %g
          %path{:d => "M27.667,26h-1.334v-1.333h1.334c0.735,0,1.333-0.598,1.333-1.334V6c0-0.735-0.598-1.333-1.333-1.333\n\t\t\t\th-1.334V3.333h1.334c1.471,0,2.666,1.196,2.666,2.667v17.333C30.333,24.804,29.138,26,27.667,26z"}
        %g
          %rect{:height => "1.333", :width => "4", :x => "1.667", :y => "5.333"}
        %g
          %rect{:height => "1.333", :width => "4", :x => "1.667", :y => "9.333"}
        %g
          %rect{:height => "1.333", :width => "4", :x => "1.667", :y => "13.333"}
        %g
          %rect{:height => "1.334", :width => "4", :x => "1.667", :y => "17.333"}
        %g
          %rect{:height => "1.334", :width => "4", :x => "1.667", :y => "21.333"}
        %g
          %rect{:height => "1.334", :width => "4", :x => "1.667", :y => "25.333"}
  %g#gift
    %g
      %path{:d => "M8.932,30.851H2.506c-0.317,0-0.575,0.258-0.575,0.572c0,0.316,0.257,0.573,0.575,0.573h6.426\n\t\tc0.317,0,0.574-0.257,0.574-0.573C9.505,31.108,9.249,30.851,8.932,30.851z"}
      %path{:d => "M8.932,26.994H2.506c-0.317,0-0.575,0.257-0.575,0.574c0,0.314,0.257,0.573,0.575,0.573h6.426\n\t\tc0.317,0,0.574-0.259,0.574-0.573C9.505,27.251,9.249,26.994,8.932,26.994z"}
      %path{:d => "M8.932,23.137H2.506c-0.317,0-0.575,0.257-0.575,0.575c0,0.315,0.257,0.572,0.575,0.572h6.426\n\t\tc0.317,0,0.574-0.257,0.574-0.572C9.505,23.394,9.249,23.137,8.932,23.137z"}
      %path{:d => "M8.932,19.28H2.506c-0.317,0-0.575,0.258-0.575,0.574c0,0.317,0.257,0.574,0.575,0.574h6.426\n\t\tc0.317,0,0.574-0.257,0.574-0.574C9.505,19.538,9.249,19.28,8.932,19.28z"}
      %path{:d => "M19.212,30.851h-6.425c-0.317,0-0.574,0.258-0.574,0.572c0,0.316,0.257,0.573,0.574,0.573h6.425\n\t\tc0.318,0,0.575-0.257,0.575-0.573C19.787,31.108,19.53,30.851,19.212,30.851z"}
      %path{:d => "M19.212,26.994h-6.425c-0.317,0-0.574,0.257-0.574,0.574c0,0.314,0.257,0.573,0.574,0.573h6.425\n\t\tc0.318,0,0.575-0.259,0.575-0.573C19.787,27.251,19.53,26.994,19.212,26.994z"}
      %path{:d => "M19.212,23.137h-6.425c-0.317,0-0.574,0.257-0.574,0.575c0,0.315,0.257,0.572,0.574,0.572h6.425\n\t\tc0.318,0,0.575-0.257,0.575-0.572C19.787,23.394,19.53,23.137,19.212,23.137z"}
      %path{:d => "M19.212,19.28h-6.425c-0.317,0-0.574,0.258-0.574,0.574c0,0.317,0.257,0.574,0.574,0.574h6.425\n\t\tc0.318,0,0.575-0.257,0.575-0.574C19.787,19.538,19.53,19.28,19.212,19.28z"}
      %path{:d => "M19.212,15.425h-6.425c-0.317,0-0.574,0.258-0.574,0.574c0,0.315,0.257,0.572,0.574,0.572h6.425\n\t\tc0.318,0,0.575-0.257,0.575-0.572C19.787,15.683,19.53,15.425,19.212,15.425z"}
      %path{:d => "M19.212,11.571h-6.425c-0.317,0-0.574,0.257-0.574,0.573c0,0.315,0.257,0.573,0.574,0.573h6.425\n\t\tc0.318,0,0.575-0.258,0.575-0.573C19.787,11.828,19.53,11.571,19.212,11.571z"}
      %path{:d => "M19.212,7.713h-6.425c-0.317,0-0.574,0.259-0.574,0.573c0,0.317,0.257,0.574,0.574,0.574h6.425\n\t\tc0.318,0,0.575-0.257,0.575-0.574C19.787,7.972,19.53,7.713,19.212,7.713z"}
      %path{:d => "M19.212,3.854h-6.425c-0.317,0-0.574,0.26-0.574,0.577c0,0.314,0.257,0.573,0.574,0.573h6.425\n\t\tc0.318,0,0.575-0.259,0.575-0.573C19.787,4.114,19.53,3.854,19.212,3.854z"}
      %path{:d => "M19.212,0h-6.425c-0.317,0-0.574,0.257-0.574,0.574c0,0.315,0.257,0.572,0.574,0.572h6.425\n\t\tc0.318,0,0.575-0.257,0.575-0.572C19.787,0.257,19.53,0,19.212,0z"}
      %path{:d => "M29.495,30.854h-6.426c-0.317,0-0.574,0.257-0.574,0.571c0,0.315,0.256,0.574,0.574,0.574h6.426\n\t\tc0.316,0,0.574-0.259,0.574-0.574C30.069,31.111,29.812,30.854,29.495,30.854z"}
      %path{:d => "M29.495,26.995h-6.426c-0.317,0-0.574,0.258-0.574,0.576c0,0.314,0.256,0.573,0.574,0.573h6.426\n\t\tc0.316,0,0.574-0.259,0.574-0.573C30.069,27.253,29.812,26.995,29.495,26.995z"}
      %path{:d => "M29.495,23.14h-6.426c-0.317,0-0.574,0.259-0.574,0.574c0,0.314,0.256,0.573,0.574,0.573h6.426\n\t\tc0.316,0,0.574-0.259,0.574-0.573C30.069,23.398,29.812,23.14,29.495,23.14z"}
      %path{:d => "M29.495,19.282h-6.426c-0.317,0-0.574,0.259-0.574,0.575c0,0.317,0.256,0.574,0.574,0.574h6.426\n\t\tc0.316,0,0.574-0.257,0.574-0.574C30.069,19.541,29.812,19.282,29.495,19.282z"}
      %path{:d => "M29.495,15.427h-6.426c-0.317,0-0.574,0.259-0.574,0.574c0,0.316,0.256,0.573,0.574,0.573h6.426\n\t\tc0.316,0,0.574-0.257,0.574-0.573C30.069,15.686,29.812,15.427,29.495,15.427z"}
      %path{:d => "M29.495,11.571h-6.426c-0.317,0-0.574,0.257-0.574,0.573c0,0.315,0.256,0.573,0.574,0.573h6.426\n\t\tc0.316,0,0.574-0.258,0.574-0.573C30.069,11.828,29.812,11.571,29.495,11.571z"}
  %g#package
    %g#Expanded
      %g
        %g
          %path{:d => "M29.333,26.667H2.667C1.196,26.667,0,25.471,0,24V8c0-1.471,1.196-2.667,2.667-2.667h26.667\n\t\t\t\tC30.804,5.333,32,6.529,32,8v16C32,25.471,30.804,26.667,29.333,26.667z M2.667,6.666C1.931,6.666,1.333,7.265,1.333,8v16\n\t\t\t\tc0,0.735,0.598,1.333,1.333,1.333h26.667c0.736,0,1.334-0.598,1.334-1.333V8c0-0.735-0.598-1.334-1.334-1.334H2.667z"}
        %g
          %path{:d => "M16,19.461L4.305,11.893c-0.309-0.199-0.398-0.611-0.198-0.922c0.2-0.309,0.612-0.397,0.922-0.197\n\t\t\t\tL16,17.872l10.972-7.099c0.309-0.2,0.722-0.111,0.922,0.197c0.2,0.311,0.111,0.723-0.198,0.922L16,19.461z"}
        %g
          %path{:d => "M4,22.667c-0.215,0-0.427-0.104-0.555-0.297c-0.205-0.307-0.122-0.721,0.185-0.925l6-4\n\t\t\t\tc0.307-0.204,0.721-0.122,0.925,0.185c0.205,0.307,0.122,0.721-0.185,0.925l-6,4C4.256,22.63,4.127,22.667,4,22.667z"}
        %g
          %path{:d => "M27.999,22.667c-0.127,0-0.255-0.037-0.369-0.112l-6-4c-0.307-0.204-0.389-0.618-0.185-0.925\n\t\t\t\ts0.617-0.389,0.925-0.185l6,4c0.307,0.204,0.389,0.618,0.185,0.925C28.427,22.562,28.215,22.667,27.999,22.667z"}
/ ICONS
#wrapper
  #left-side
    %ul
      %li.choose.active
        .usericon.active
          %svg{:viewbox => "0 0 32 32"}
            %g{:filter => ""}
              %use{"xlink:href" => "#shopping-cart"}
        Intro
      %li.pay
        .usericon
          %svg{:viewbox => "0 0 32 32"}
            %g{:filter => ""}
              %use{"xlink:href" => "#credit-card"}
        About
      %li.wrap
        .usericon
          %svg{:viewbox => "0 0 32 32"}
            %g{:filter => ""}
              %use{"xlink:href" => "#gift"}
        Stats
      %li.ship
        .usericon
          %svg{:viewbox => "0 0 32 32"}
            %g{:filter => ""}
              %use{"xlink:href" => "#package"}
        Contact
  #border
    #line.one
  #right-side
    #first.active
      .usericon.big
        %svg{:viewbox => "0 0 32 32"}
          %g{:filter => ""}
            %use{"xlink:href" => "#shopping-cart"}
      %h1
        = @user.username
      %p
        = @user.bio
    #second
      .usericon.big
        %svg{:viewbox => "0 0 32 32"}
          %g{:filter => ""}
            %use{"xlink:href" => "#credit-card"}
      %h1
        Details
      %p
        %b Age:
        - if @user.age == nil
          No age given. (They're probably really old.)
        - else
          = @user.age
      %p
        %b Location:
        = @user.location

    #third
      .usericon.big
        %svg{:viewbox => "0 0 32 32"}
          %g{:filter => ""}
            %use{"xlink:href" => "#gift"}
      %h1 Statistics
      %p
        %b Reviews:
        - if @user.posts.count == 0
          This user hasn't written a review yet. I mean, really?
        - else
          = @user.posts.count
      %p
        %b Average rating:
      %p
        %b Member Since:
        = @user.created_at.strftime("%b %Y")

    #fourth
      .usericon.big
        %svg{:viewbox => "0 0 32 32"}
          %g{:filter => ""}
            %use{"xlink:href" => "#package"}
      %h1
        = @user.email
      %p Send this user a piece  of your mind. They probably deserve it.
