.authform
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
    %h1 Sign in
    = devise_error_messages!
    %hr.dashed
    .form-group
      %span.input.input--isao
        = f.email_field :email, class: 'input__field input__field--isao', id: 'input-38', :type => "text"
        %label.input__label.input__label--isao{"data-content" => "Email", :for => "input-38"}
          %span.input__label-content.input__label-content--isao Email
      %span.input.input--isao
        = f.password_field :password, class: 'input__field input__field--isao', id: 'input-39', type: "password"
        %label.input__label.input__label--isao{"data-content" => "Password", :for => "input-39"}
          %span.input__label-content.input__label-content--isao Password
    %br
    = f.submit 'Sign in', id: 'primary-button'
    -# - if devise_mapping.rememberable?
    -#   .checkbox{:style => "width:150px"}
    -#     %label
    -#       = f.check_box :remember_me
    -#       Remember me
    .form-group.grey-links
      - if devise_mapping.registerable?
        = link_to 'Sign up', new_registration_path(resource_name), class: 'right'
      - if devise_mapping.recoverable?
        = link_to "Forgot password?", new_password_path(resource_name), class: 'left'
