-# FORM START
= simple_form_for(@post) do |f|
	= f.error_notification

	- if @post.background.exists?
		:scss
			.posts.new .post-landing, .posts.edit div.post-landing {
				background-image: url(#{@post.background.url(:full)}); background-size: cover; background-position: center;
			}
	.form-inputs
		.post-landing
			.post-titles
				%h1= f.input :title, placeholder: "Write your title here", label: false
				%h4= f.input :subtitle, placeholder: "And... write the subtitle here (if you want one)", label: false

			.post-details.clearfix
				%h5
					Reading time: to be calculated
				%h5
					= f.file_field :background, label: 'Upload Attachment'
					.input-append
						%input#file-display.input-large.uneditable-input{:type => "text", disabled: "disabled", placeholder: "Upload background image"}
							%a#upload-btn
								.icon.pe-7s-photo

					-# - if @post.background.exists?
					-# 	= f.file_field :background, class: "form-control", label: false, input_html: { hidden: true }
					-# 	-# = image_tag @post.background.url(:thumb)
					-# 	%br
					-# -else
					-# 	= f.file_field :background, class: "form-control",  label: false

						%br

		.full-divider

		.displayable
			.field
				- if current_page?(controller: 'posts', action: 'new')
					%br
					= f.hidden_field :content, html: { id: "content" }
					.editable{"data-field-id" => "content"}
						%h3 Primary heading
						%h4 Secondary heading
						%p Paragraph
						%blockquote
							"Quote"
						%p
							%b NOTE
							\: Simply highlight to edit.
				- else
					%br
					= f.hidden_field :content, html: { id: "content" }
					.editable{"data-field-id" => "content"}
						=raw @post.content

			%p
				Tags:
				= @post.tag_list

			- if current_page?(controller: 'posts', action: 'new')
				.form-actions
					= f.button :submit
			- else
				.form-actions
					= f.button :submit
					= link_to 'Go to post', @post, class: "secondary-button"

-# - if user_signed_in? and current_user.id = @post.user.id or user_signed_in? and current_user.admin?
-# 	= link_to 'Edit', edit_post_path(@post)
-# 	|
-# 	= link_to 'Back', posts_path

-# END

-#
-# = simple_form_for(@post) do |f|
-# 	= f.error_notification
-#
-# 	.form-inputs
-# 		= f.input :title
-# 		= f.input :subtitle
-# 		= f.label :tag_list, "Tags (separated by commas)"
-# 		%br/
-# 		= f.text_field :tag_list
-# 		.field
-# 			- if current_page?(controller: 'posts', action: 'new')
-# 				= f.label :content
-# 				%br
-# 				= f.hidden_field :content, html: { id: "content" }
-# 				.editable{"data-field-id" => "content"}
-# 					%h3 Primary heading
-# 					%h4 Secondary heading
-# 					%p Paragraph
-# 					%blockquote
-# 						"Quote"
-# 					%p
-# 						%b NOTE
-# 						\: Simply highlight to edit.
-# 			- else
-# 				= f.label :content
-# 				%br
-# 				= f.hidden_field :content, html: { id: "content" }
-# 				.editable{"data-field-id" => "content"}
-# 					=raw @post.content
-# 		%br
-#
-# 		- if @post.background.exists?
-# 			= f.label :background
-# 			= f.file_field :background, class: "form-control"
-# 			= image_tag @post.background.url(:thumb)
-# 			%br
-# 		-else
-# 			= f.label :background
-# 			= f.file_field :background, class: "form-control"
-# 			%br
-#
-# 	.form-actions
-# 		= f.button :submit

:javascript
	var editor = new MediumEditor('.editable');
	$('.editable').bind('input propertychange', function(){
		$("#post_" + $(this).attr("data-field-id")).val($(this).html());
	});
