- if @post.background.exists?
  :scss
    .post-landing {
      background-image: url(#{@post.background.url(:full)}); background-size: cover; background-position: center;
    }
  .post-landing
    .post-titles
      %h1= @post.title
      %h4= @post.subtitle

    .post-details.clearfix
      %h5
        = @post.reading_time
        minute read
      %h5
        = link_to @post.user, class: "post_username" do
          = @post.user.email

.full-divider

.displayable
  =raw @post.content

  %p
    Tags:
    = @post.tag_list

- if user_signed_in? and current_user.id = @post.user.id or user_signed_in? and current_user.admin?
  = link_to 'Edit', edit_post_path(@post)
  \|
  = link_to 'Back', posts_path
